* {
  box-sizing: border-box;
}

body {
  background-color: #0ea78d;
  color: #222;
}

a {
  color: #0ea78d;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

header {
  margin-top: 60px;
  padding-top: 1px;
  padding-bottom: 10px;
}

button {
  background-color: inherit;
  color: inherit;
  border: 2px solid currentColor;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.hidden {
  display: none;
}

.theme-dark {
  background-color: #222;
  color: #eee;
}

main {
  max-width: 300px;
  margin: auto;
}

header {
  background-color: #222;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

form {
  background-color: white;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

form input {
  width: 100%;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

#message {
  width: 400px;
  height: 200px;
  padding: 1rem;
}

.box {
  width: 400px;
  height: 200px;
  background-color: pink;
  padding: 1rem;
}

.form-control {
  position: relative;
}

.form-control.success span.fa-check-circle {
  color: #05c555;
  visibility: visible;
}

.form-control span.fa-exclamation-circle,
.form-control span.fa-check-circle {
  position: absolute;
  top: 32px;
  right: 5px;
  visibility: hidden;
}

.form-control input {
  border: 1px solid #222;
  height: 30px;
  padding: 10px;
}

.form-control.error span.fa-exclamation-circle {
  color: #e01111;
  visibility: visible;
}

.form-control.error input {
  border: 1px solid #e01111;
}

.form-control.success input {
  border: 1px solid #05c555;
}

.form-control small {
  color: #e01111;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

button {
  width: 100%;
  margin-top: 15px;
  background-color: #222;
  color: #fff;
}